/*media queries responsive web desing */
@media screen and (max-width: 858px){
    .contenido{
        background-size: 100% 80% ;
        height: 430px;
    }
    .contenido_info p{
        font-size:2.6em ;
        margin-top: 4em;
    }
    .info{
        text-align: center;
        font-size: 1.5em;
        width: 80%;
        margin: 9px 0 0 0;
    }
    .tecnologia_card{
        height: 80px;
    }
    .project_content{
        margin-top: 3em;
        display: grid;
        flex-wrap: wrap;
        grid-column-gap: .1em;
        grid-template-columns: 1fr 1fr;
    }
    .project_card{
        border-style: groove;
        height: 290px;
        width: 40vw;
        margin: 1em auto;

    }
    .project_img{
        width: 80%;
        margin-top: .4em;
        
    }
    .project-card p{
        font-size: .9em;
        margin-top: .4em;
    }
    .project_card a{
        width: 30%;
    }
    .contact_content{
        flex-direction: column;
    }
    .contact_items{
        margin-top: 1em;
        width: 70vw;
        margin: auto;
        margin-top: 1em;
    }

}
/* -----------------querias for device of ipad ---------------------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
    .contenido{
        background-size: auto 90%;
        height: 550px;
        width: 100vw;
    }
    .contenido_info p{
        font-size:4em ;
      
    }
    .info{
        font-size: 1.8em;
    }
    
    .project_content{
        margin-top: 3em;
        display: grid;
        flex-wrap: wrap;
        grid-column-gap: .1em;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project_card{
        border: 1px solid #dee2e6;
        border-radius: 6px;
        border-style: groove;
        height: auto;
        width: 80%;
        margin: 1em auto;

    }
    .project_img{
        width: 100%;
        margin-top: 0;
        border-radius: 6px  6px 0 0 ;
        
    }
    .project_card p{
        font-size: .9em;
        margin-top: .4em;
    }
    
    .contact_content{
        flex-direction: column;
    }
    .contact_items{
        margin-top: 1em;
        width: 70vw;
        margin: auto;
        margin-top: 1em;
    }
}


/* -----------------query para dispositivo moviles-----------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .info{
        font-size: 1.5em;
    }

    .contenido_info p{
        font-size:2em ;
        margin-top: 5.1em;
    }
    
  
    .info {
        display: inline;
        font-size: 1.2em;
        width: 80%;
        text-align: center;
    }
    .project_content{
        margin-top: 1.5em;
        display: grid;
        flex-wrap: wrap;
        grid-column-gap: .1em;
        grid-template-columns: 1fr ;
    }
    .project_img{
        width: 100%;
        margin-top: 0;
        border-radius: 6px  6px 0 0 ;
    }
    .project_card a{
        width: 40%;
    }
    .project_card{
        border: none;
        margin: 1em auto;
        width: 80%;
        border: 1px solid #dee2e6;
        width: 80%;
        border-radius: 6px;
        height: auto;
    }
    .project_card button{
        margin-top: 1em;
    }
    .contact_content{
        flex-direction: column;
    }
    .contact_items{
        margin-top: 1em;
        width: 70vw;
        margin: auto;
        margin-top: 1em;
    }
}

